@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply text-gray-800 dark:text-gray-200 transition-colors duration-200;
  }
}

.bg-main-area {
  @apply bg-gray-50 dark:bg-gray-900;
}
